#myForm {
    width: 600px;
    background-color: #1b1b1b;
    align-items: center;
    height: 700px;
}

#myForm h1 {
    font-family: "courier", sans-serif;
    color: #dddddd;
    font-size: 32px;
    text-align: center;
}

#myForm input {
    display: block;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}


/* The popup form - hidden by default */

.form-popup {
    display: none;
    position: absolute;
    top: 35%;
    left: 15%;
    right: 10%;
    border: 3px solid #1b1b1b;
    z-index: 2;
    border-radius: 20px;
}


/* Add styles to the form container */

.form-container {
    width: 100%;
    padding: 10px;
    margin: 5px 2px;
}


/* Full-width input fields */

.form-container input[type="text"] {
    width: 80%;
    padding: 15px;
    margin: 15px;
    border: none;
    left: 4%;
    align-items: center;
    justify-items: center;
    background: #f1f1f1;
}


/* When the inputs get focus, do something */

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit/login button */

.form-container .btn {
    background-color: #fff;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    /*width: 80%;*/
    margin-bottom: 10px;
    opacity: 0.8;
    position: absolute;
}


/* Add a red background color to the cancel button */

.form-container .cancel {
    background-color: red;
}


/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
    color: cyan;
}

@media all and (max-width: 768px) {
    .form-popup {
        display: none;
        position: absolute;
        top: 50%;
        left: 0;
        right: 10%;
        border: 3px solid #1b1b1b;
        z-index: 1;
        border-radius: 20px;
    }
    .form-container {
        width: 100%;
        padding: 10px;
        margin: 5px 2px;
    }
}