.typing-demo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22ch;
    animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.head-wrap {
    margin-top: 100px;
    background-color: #1b1b1b;
    color: #ffffff;
    padding: 15px;
}

.head-wrap h2 {
    text-align: center;
    margin-left: 500px;
}


/* CONTAINERS */

.big-container {
    margin: 0 auto;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    margin-top: 10px;
    height: 100vh;
    flex-wrap: wrap;
}

.big-container .container {
    display: flex;
    flex-direction: column;
}

.big-container .container h2 {
    margin: 10px 5px;
    padding: 20px 5px;
    text-transform: uppercase;
}

#container-left {
    background-color: #dddddd;
    flex-grow: 1;
}

#container-center {
    background-color: #dddddd;
    flex-grow: 2;
    justify-content: flex-start;
}

#container-right {
    background-color: #dddddd;
    flex-grow: 1;
}


/* BLOCK ITEMS */

.item {
    display: flex;
    align-items: center;
    justify-content: center;
}

#item-top {
    background-color: #dddddd;
}

#item-bottom {
    background-color: #dddddd;
}

.half-heigth {
    height: 50%;
}

.full-heigth {
    height: 100%;
}

@media only screen and (max-width: 768px) {
    #container-left {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .big-container {
        flex-direction: column;
    }
    .half-heigth {
        flex-grow: 2;
    }
    .full-heigth {
        flex-grow: 1;
    }
    #container-center {
        flex-grow: 1;
    }
    #container-left,
    #container-right {
        display: flex;
        flex-grow: 2;
    }
}